.catkin_workspace
src/CMakeLists.txt
devel
build
install
log
.vscode
.idea
src/piper/backup
.catkin_workspace
*.log
*.7z
*.zip
*.tar
analytical_solution
oculus_reader
oculus_reader/oculus_reader
**/__pycache__/
log/
install/
*.wav
mobileclip_blt.pt
yolo11x-seg.pt
*.pt
Log/OrbbecSDK.log*.txt
src/Log/OrbbecSDK.log*.txt
Log/OrbbecSDK.log*.txt
src/Log/*.log*.txt
src/piper_navigation/src/unitree_lidar_sdk/bin/*
*tfevent*
*.ipynb
videos/
test.txt
videos*/

